{% extends "layout.html" %}
{% block content %}
      <div id="content">
        <h1>Welcome to Debt With Friends, {{username}}!</h1>
        <h3>Remember you can report a friend's debt amount in the other tab or check out what they owe!</h3>
         <h2>Check Out Your Debts Below!</h2>
        <table>
         <tr><th>Username</th><th>Debt</th></tr>
        {% for result in user_list %}
        <tr><td>{{result['username']}}</td><td>{{result['total_debt']}}</td></tr>
        {% endfor %}
         </table>
        <h2>Your friends and their total debt points</h2>
        <table>
         <tr><th>Username</th><th>Debt</th></tr>
        {% for result in friend_list %}
        <tr><td>{{result['username']}}</td><td>{{result['friend_totalD']}}</td></tr>
        {% endfor %}
         </table>
      </div>
{% endblock %}