
<!DOCTYPE HTML>
<html>

<head>
  <title>DEBTS WITH FRIENDS!</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine&amp;v1" />
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <h1>Debts With<a href="#">Friends</a></h1>
        <div class="slogan">Rank Your Friends!</div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="current" in the li tag for the selected page - to highlight which page you're on -->
          <li  {% if selectedMenu == "Home" %} class="selected" {% endif %}  >
            <a href="/home">Home</a></li>
          <li  {% if selectedMenu == "addFriend" %} class="selected" {% endif %}  >
            <a href="/addFriend">Add a Friend</a></li>
          <li  {% if selectedMenu == "NewDebt" %} class="selected" {% endif %} >
            <a href="/addaDebt">NewDebt</a></li>
          <li  {% if selectedMenu == "FriendsInDebt" %} class="selected" {% endif %} >
            <a href="/friendDebt">Debt History</a></li>
          <li  {% if selectedMenu == "Sign-Up" %} class="selected" {% endif %} >
            <a href="/register">Sign-Up</a></li>
        </ul>
      </div>
    </div>
    <div id="site_content">
      <div id="sidebar_container">
        <img class="paperclip" src="static/css/paperclip.png" alt="paperclip" />
        <div class="sidebar">
        <!-- insert your sidebar items here -->
        <h3>Latest News</h3>
        <h4>What's the News?</h4>
        <h5>1st November 2013</h5>
        <p>Put your latest news item here, or anything else you would like in the sidebar!<br /><a href="#">Read more</a></p>
        </div>
        <img class="paperclip" src="static/css/paperclip.png" alt="paperclip" />
        <div class="sidebar">
          <h3>Login</h3>
          <p>Please login here!</p>
          <form method="post" action="/">
           <p>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" size="20" /></p>
            <p>
            <label for="password">Password:</label>
            <input type="password" id="password" name="pw" size="20" /></p>
            <p>
            <input type="submit" value="login" name="submit" /></p>
          </form>
        </div>
        <img class="paperclip" src="static/css/paperclip.png" alt="paperclip" />
        <div class="sidebar">
          <h3>Latest Blog</h3>
          <h4>Website Goes Live</h4>
          <h5>1st November 2013</h5>
          <p>We have just launched our new website. Take a look around, we'd love to know what you think.....<br /><a href="#">read more</a></p>
        </div>
      </div>
      <div id="content">
        {%block content %}{% endblock %}
      </div>
    </div>
    <div id="footer">
      <p>Copyright &copy; simplestyle_8 | <a href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a href="http://www.html5webtemplates.co.uk">design from HTML5webtemplates.co.uk</a></p>
    </div>
  </div>
</body>
</html>
